.block_choose_person {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 button{
    width: 195px;
    height: 47px;
    background: #fdfcfa;
    border: 1px solid #f0e4ca;
    outline: none;
    margin: 2px 0;
}
 button:active{
    text-decoration: red;
    border-width: 1.5px; /* Толщина линии внизу */
    border-bottom-style: dashed; /* Стиль линии внизу */
    border-top-style: dashed; /* Стиль линии внизу */
    border-right-style: dashed;
    border-color: #d15b0a; /* Цвет линии внизу */
}
.on{
    color:#666;
    background-color: red;
}
.off{
    color:#888;
    background-color: white;
}
@media screen and (max-width: 1024px) {
    .block_choose_person{
        justify-content: center;
    }


}
