.item__navbar__top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    color: #766259;
    margin-right: 36px;
    font-size: 13px;
    font-family: Calibri;
}

