.contacts_order, .form-group {
    display: flex;
    flex-direction: column;
}
.form-under_group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-group{
    margin-right: 21px;
}
.form-group input{
    width: 174px;
    height: 31px;
    border: 1px solid #c4b7b1;
    font-family: Calibri;
    border-radius: 3px ;
    padding-left: 12px;
    margin-top: 4px;
}
.form-group label{
    font-family: Calibri;
    font-size: 14px;
    color: #817068;
}
.contacts_order h2{
    font-family: Georgia;
    font-style: italic;
    font-weight: lighter;
    font-size: 25px;
}
.phone_form{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}
.phone_form input{
    border-radius: 0 3px 3px 0 ;
    width: 121px;
}
.phone_form p{
    width: 40px;
    height: 27px;
    border: 1px solid #c4b7b1;
    font-family: Calibri;
    border-radius: 3px 0 0 3px ;
    margin-top: 4px;
    font-size: 16px;
    text-align: center;
    padding-top: 6px;
}
.form-group-phone{
    margin-left: -10px;
}
input:focus:invalid {
    border-color: red;
    color: red;
    box-shadow: none;
    outline: none;
}
input:focus:valid {
    border-color: green;
    color: green;
    box-shadow: none;
}
@media screen and (max-width: 1024px) {
    .form-under_group{
        justify-content: center;
    }
    .form-group-phone, .form-group-email{
        margin-left: 5px;
    }
    .form-group-email{
        margin-left: 10px;
    }

}
