.item__bottom__navbar{
    display: flex;
    flex-direction: row;
    color: black;
}
.item__bottom__navbar a {
    font-family: Calibri;
    font-weight: bold;
    font-size: 15pt;
    text-decoration: none;
    color: #461f02;
}
