.navbar__medium__right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-left: 80px;
}
.navbar__medium__right h1{
    font-family: Georgia;
    font-weight: lighter;
    font-style: italic;
    font-size: 28px;
    color: #461f02;
}
.navbar__medium__right a{
    color: #766259;
    margin-top: -20px;
    width: 100px;
    margin-left: 125px;
    font-family: Calibri;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px dashed #766259;
}
@media screen and (max-width: 1024px) {
    .navbar__medium__right{
        margin-left: 0;
    }
}