.delivery__order h2{
    font-family: Georgia;
    font-style: italic;
    font-weight: lighter;
    font-size: 25px;
}
.adress_order{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-group-adress {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.form-group-adress input, .form-group-adress select{
    border: 1px solid #c4b7b1;
    font-family: Calibri;
    border-radius: 3px ;
    padding-left: 12px;
    margin-top: 4px;
}
.form-group-adress input{
    height: 34px !important;
    width: 172px !important;
}
.form-group-adress select{
    height: 37px !important;
    width: 188px !important;
    padding: 5px;
}
.form-group-adress label{
    font-family: Calibri;
    font-size: 14px;
    color: #817068;
}
@media screen and (max-width: 1024px) {
    .adress_order{
        justify-content: center;
    }
}
