.delivery__order h2{
    font-family: Georgia;
    font-style: italic;
    font-weight: lighter;
    font-size: 16px;
}
.adress_order{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.adress_order select{
    width: 185px;
}
.form-group-adress {
    display: flex;
    flex-direction: column;
    margin-right: 21px;

}
form{
    display: flex;
    flex-direction: column;
}
.form-group-adress input, .form-group-adress select{
    width: 184px;
    height: 34px;
    border: 1px solid #c4b7b1;
    font-family: Calibri;
    border-radius: 3px ;
    padding-left: 12px;
    margin-top: 4px;
}
.form-group-adress label{
    font-family: Calibri;
    font-size: 14px;
    color: #817068;
}