.search{
    background: url(images/search.svg) no-repeat scroll 12px 14px;
    background-color: white;
    padding-left:30px;
    width: 330px;
    height: 40px;
    margin-top: 33px;
    border-radius: 25px;
    border:1px solid #e5dfd9;
    font-family: Calibri;
    font-size: 13pt;
    color: #b3aaa6;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
@media screen and (max-width: 1024px) {
   .search{
       width: 260px;
       margin: auto;
   }
}