.navbar__menu__right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
}
.item__navbar__top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    color: #766259;
    font-size: 13px;
    font-family: Calibri;
}
.item__navbar__top__icon{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
.item__navbar__top__icon img{
    margin-right: 8px;

}

.item__navbar__city{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.item__navbar__city p, .item__navbar__top{
    font-size: 13px;
    font-family: Calibri;
    color: #766259;

}
.navbar__menu__right a {
    text-decoration: none;
    border-bottom: 1px dashed #766259;
}
