.order{
    background-color: white;
}
.block_order, .block_order_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding-left: 31px;
}
.block_order_right_your_order h2{
    font-size: 25px;
}
.block_order_header{
    font-family: Georgia;
    font-style: italic;
    font-weight: lighter;
    font-size: 35px;
}
.block_order_left_checkout button{
    width: 196px;
    height: 47px;
    background: #fdfcfa;
    border: 1px solid #f0e4ca;
    outline: none;
    margin: 2px 0;
}
.block_order_left_checkout button:active{
    text-decoration: red;
    border-width: 1.5px; /* Толщина линии внизу */
    border-bottom-style: dashed; /* Стиль линии внизу */
    border-top-style: dashed; /* Стиль линии внизу */
    border-right-style: dashed;
    border-color: #d15b0a; /* Цвет линии внизу */
}
@media screen and (max-width: 1024px) {
    .block_order_header{
        font-family: Georgia;
        font-style: italic;
        font-weight: lighter;
        font-size: 30px;
        text-align: center;
    }
}
