.App{
    background: url("./components/Navbar/images/шапка.png")no-repeat center center fixed;
    background-size: cover;
    height: 621px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body{
    margin: 0;
}
